#p1 {color:aqua; background: green;}
.container {color:blue; background: red;}
a[href *= "googl"] {color:aquamarine}

div p {background: yellow; text-align: center; padding: 2em;}

@keyframes getbig{
    from{
        width:50px;
    }
    to {
        width:300px;
    }
}

img {
    animation-name:getbig;
    animation-duration:3s;
}